[submodule "plugins"]
	path = plugins
	url = git@github.com:calfzhou/pelican-plugins.git
[submodule "pelican-themes"]
	path = pelican-themes
	url = https://github.com/getpelican/pelican-themes
[submodule "octopress-theme"]
	path = octopress-theme
	url = git@github.com:calfzhou/pelican-octopress-theme.git
