[submodule "plugins"]
	path = plugins
	url = git@github.com:calfzhou/pelican-plugins.git
[submodule "pelican"]
	path = pelican
	url = git@github.com:calfzhou/pelican.git
[submodule "elegant-theme"]
	path = elegant-theme
	url = git@github.com:calfzhou/pelican-elegant.git
