body {
  background-color: #f6f6f6;
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", Lucida, Tahoma, Arial, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", STXiHei, SimHei, sans-serif;
  text-shadow: 1px 1px 3px rgba(50, 50, 50, 0.15);
}

.article-content {
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", Lucida, Tahoma, Arial, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", STXiHei, SimHei, sans-serif;
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", Lucida, Tahoma, Arial, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", STXiHei, SimHei, sans-serif;
}

/* Hide default tile for toc. */
div#contents p.topic-title.first {
  display: none;
}
.table-of-content .toc {
  font-size: 0.8em;
}

div#sidebar-social-link a svg {
height: 20px;
width: 20px;
}

table.highlighttable {
  border: none;
}
table.highlighttable td {
  border: none;
}
table.highlighttable tbody > tr:nth-child(odd) > td {
  background-color: transparent;
}
div.admonition div.highlight {
  margin-left: 1em;
  margin-right: 1em;
}
div.admonition table.highlighttable {
  padding-left: 1em;
  padding-right: 1em;
}
div.admonition table.highlighttable div.highlight {
  margin-left: 0;
  margin-right: 0;
}
div.admonition pre {
  margin: initial;
}

.article-content a.external:after {
  content: '';
  background: url('data:image/svg+xml; utf8, <svg height="1024" width="768" xmlns="https://www.w3.org/2000/svg"><path d="M640 768H128V257.90599999999995L256 256V128H0v768h768V576H640V768zM384 128l128 128L320 448l128 128 192-192 128 128V128H384z"/></svg>');
  background-size: cover;
  display: inline-block;
  width: 0.6em;
  height: 0.75em;
  top: 0.05em;
  position: relative;
  left: 0.2em;
  margin-right: 0.2em;
  opacity: .5;
}

div.figure img {
  width: inherit;
}
div.figure p.caption {
  margin: 5px 1.5em 5px 1.5em;
}

.article-content img {
  border: 0px;
  padding: 0px;
}

object[type="image/svg+xml"] {
  max-width: 100%;
}

div.math {
  overflow: auto;
}

div.highcharts {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
